:root {
  --white-text: rgba(255, 255, 255, 1);
  --blue-text: rgba(33, 150, 243, 1);
  --black-text: rgba(33, 33, 33, 1);
  --pepel-text-phone: rgba(117, 117, 117, 1);
  --background-section-one: rgba(47, 48, 58, 1);
  --background-white-grey-: rgba(245, 244, 250, 1);
  --footer-adress: rgba(255, 255, 255, 0.6);
  --color-line: rgba(236, 236, 236, 1);
  --mouse: rgba(0, 0, 0, 1);
  --margin-cards: 30px;
}
